#items {
    overflow: auto;
}

.item {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid black;
}

.items__footer {
    text-align: center;
    padding: 32px;
    color: red;
}
